<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716158788115-1eo73f7bgs6u2vnv38vtj29kbg1e5ump.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716158788115-1eo73f7bgs6u2vnv38vtj29kbg1e5ump</string>
	<key>API_KEY</key>
	<string>AIzaSyCrip0shSNiMTTxgh6EqJ4oxqdlrF4ioIg</string>
	<key>GCM_SENDER_ID</key>
	<string>716158788115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DB.CoffeeApp</string>
	<key>PROJECT_ID</key>
	<string>coffeeshop-b05cd</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeshop-b05cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716158788115:ios:08fe52c5e8e1250c7a95e6</string>
	<key>DATABASE_URL</key>
	<string>https://coffeeshop-b05cd.firebaseio.com</string>
</dict>
</plist>